body{
    background: #525252 no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.container{
    width: 100px;
    height: 40px;
    background: linear-gradient(to right,red,blue);
    border-radius: 35px;
    margin: 5px;
    border: #fff solid 2px;
    overflow: hidden;
    transform: translateY(-800px);
    padding: 5px;
}
.toggle{
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: #fff solid 2px;
    padding: 2.5px;
    background: blue;
    cursor: pointer;
    transition: 1s;
}

.ON , .OFF{
    color: #fff;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    transform: translate(-600px,-800px);

}
.toggle.active {
    background: red;
    transform:  translateX(60px); 
}
.ON.active{
    color: red;
    font-weight: 900;
    font-size: 25px;
}
.OFF{
    color: red;
    font-size: 20px;
    font-weight: 900;
}
.OFF.active {
    color: #fff;
    font-weight: 400;
    font-size: 12px;

}
.car-battery{
    size: 50px;
}
img{
    position: relative;
    width: 700px;
    height: 500px;
    z-index: 99;
    transform: translate(400px,-550px);
    overflow: hidden;
}
.cover{
    position: relative;
     width: 400px;
    height: 230px; 
    border-top-left-radius: 130px;
    background:#525252;
    transform: translate(700px,-50px);
    z-index: 100;
}
#att1,#att2,#att3{
    position: relative;
    transform: translate(650px,170px);
    z-index: 999999;
    color: #fff;
    transition: 1s;
    font-size: 100px;
}
#att1.active {
    color: blue;
    transform: translate(660px,-150px);
}

#att2.active {
    transform: translate(550px,-75px);
    color: red;
}
#att3.active {
    transform: translate(450px,-10px);
    color: lime;
}
ol{
    color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}